@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}
html,
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.container {
  max-width: 1240px;
  margin: 0px auto;
  padding: 0px 20px;
}
.wrapper {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}
.wrapper-item {
  max-width: 100vw;

  /* background-image: url(./assets/wrapper.png);
  background-repeat: no-repeat;
  background-size: cover; */
}
.navbar {
  border-bottom: 2px solid #e5e5e5;
  font-family: "Inter", sans-serif;
  background-color: #f2f2f2;
}
.inner-navbar {
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-item {
  display: flex;
}
.navbar-item-first {
  margin-right: 50px;
}
ul li {
  margin: 0px 13px;
}
.navbar-item-first,
.navbar-item-second,
ul {
  display: flex;
  align-items: center;
}
.button {
  margin-right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn {
  margin: 0px 10px;
  width: 40px;
  height: 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.navbar-constructor {
  width: 160px !important;
}
.btn:hover {
  background-color: #10bb87;
  color: #fff;
}
.wrapper-item-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 90px;
  font-family: "DM Sans", sans-serif;
}
.wrapper-item-info h1 {
  margin: 0px 0px 30px 0px;
  letter-spacing: 0.9px;
}
.wrapper-item-info h1 span {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: -4px;
    z-index: -1;
    width: 105%;
    height: 7px;
    background-color: #ffa630;
  }
}
.wrapper-item-info p {
  margin: 0px 0px 30px 0px;
}
.wrapper-item-info-button {
  margin: 10px 0px 0px 0px;
  padding: 16px 35px;
  color: #fff;
  background-color: #10bb87;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  &:hover {
    background-color: #fff;
    color: #10bb87;
  }
}
.second-wrapper-item {
  padding: 70px 0px 30px 0px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-family: "DM Sans", sans-serif;
  border-bottom: 2px solid #e5e5e5;
}
.second-wrapper-info {
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px;
}
.second-wrapper-info h1 {
  line-height: 35px;
  margin: 20px 0px;
}
.second-wrapper-info h1 span {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: -4px;
    z-index: -1;
    width: 105%;
    height: 7px;
    background-color: #ffa630;
  }
}
.second-wrapper-info p {
  margin: 20px 0px;
}
.second-wrapper-info-button {
  margin: 10px 0px 0px 0px;
  padding: 16px 35px;
  color: #fff;
  background-color: #10bb87;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  &:hover {
    background-color: #fff;
    color: #10bb87;
  }
}
.second-wrapper-img {
  margin: 30px;
}
.benefits-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.benefits-card {
  margin: 30px;
  width: 185px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.benefits-card h4{
  margin: 13px 0px;
}
.benefits-card p{
  font-size: 14px;
  color: #b3b3b3;
  line-height: 20px;
  letter-spacing: 0.3px;
}